[submodule "ProDiff"]
	path = ProDiff
	url = https://github.com/YossiSella/ProDiff.git
[submodule "ControlNet"]
	path = ControlNet
	url = https://github.com/YossiSella/ControlNet.git
[submodule "Speech-Backbones"]
	path = Speech-Backbones
	url = https://github.com/YossiSella/Speech-Backbones.git
