# Python virtual environment
venv/
env/
.env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Model checkpoints and data
checkpoints/
*.pth
*.pt
*.ckpt

# Logs and temporary files
logs/
*.log
tmp/
temp/

# Environment variables
.env
.env.local

# Hugging Face cache
.cache/
.huggingface/

# Project specific

data/

# baseline test results
baseline tests/

# LJSpeech dataset audio files
datasets/LJSpeech-1.1/LJSpeech-1.1/wavs/*
datasets/LJSpeech-1.1.tar.bz2

# Fill50k dataset
datasets/fill50k.zip
datasets/fill50k/fill50k/source/*
datasets/fill50k/fill50k/target/*